_local/
assets/
build/
cache/
vendor/
dist/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
.env
.env.*
*.log
*.[mM][pP][qQ]
*.[mM]2
*.[sS][kK][iI][nN]
*.[sS][kK][eE][lL]
*.[aA][nN][iI][mM]
*.[bB][oO][nN][eE]
*.[bB][lL][pP]
*.[dD][bB][cC]
*.[dD][bB]2
*.exe
*.dll
*.dylib
*.so
*.zip
*.7z
*.png
*.jpg
*.webp
*.mp4
