.venv/
_local/
build/
cache/
assets/
__pycache__/
*.egg-info/
*.blp
*.m2
*.skin
*.anim
*.dbc
*.db2
*.MPQ
*.mpq
*.pth
*.safetensors
*.dylib
*.exe
*.dll
.DS_Store

.venv-mlx/

*.png
*.jpg
*.npy
*.npz
*.log
*.tar.gz
dist/
.venv*/
.env
.env.*
*.whl
*.zip
*.jpeg
*.webp
*.tga
*.dds
*.MPQ/
*.mpq/
*.BLP
*.M2
*.SKIN
*.ANIM
*.DBC
*.DB2
